@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Griffy&display=swap");
footer {
  width: 100%;
  bottom: 0;
  height: 12rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    174deg,
    rgba(0, 0, 0, 1) 69%,
    rgba(75, 0, 130, 1) 100%
  );
}
.text_footer {
  margin-top: 5rem;
  text-align: center;
  color: #ed7f10;
  font-family: Creepster;
}
